In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
historical_data = pd.read_csv("csv_processed/hashed_data.csv")
room_crosswalk= pd.read_csv("csv_processed/listing_name_crosswalk.csv")

In [3]:
print(historical_data.head())

   Unnamed: 0        Date         Type Confirmation Code  Start Date  Nights  \
0           0  03/04/2019       Payout               NaN         NaN     NaN
1           1  03/04/2019  Reservation        HM3FARRJMQ  03/03/2019     5.0
2           2  03/04/2019  Reservation        HMYHPEJZSQ  03/03/2019     3.0
3           3  03/03/2019  Reservation        HMPANYMCWT  03/02/2019     2.0
4           4  03/04/2019       Payout               NaN         NaN     NaN

                                           Listing                Details  \
0                                              NaN  Transfer to *****4871
1  Red Victorian - Private room w/sink, Tea Garden                    NaN
2    Red Victorian - Private room w bath, Sunshine                    NaN
3     Red Victorian - Private ensuite, Rose Garden                    NaN
4                                              NaN  Transfer to *****6485

   Reference Currency  Amount  Paid Out  Host Fee  Cleaning Fee  Linens fee  \
0        NaN      USD     NaN    254.31       NaN           NaN         NaN
1        NaN      USD  111.96       NaN      3.46          8.75         5.0
2        NaN      USD   69.84       NaN      2.16          7.00         4.0
3        NaN      USD   72.51       NaN      2.24          8.75         5.0
4        NaN      USD     NaN   1934.61       NaN           NaN         NaN

   Community fee                                  guest_name_sha256
0            NaN                                                NaN
1           8.75  ba15db961c60a70006ad872e59064558248333ad74d0df...
2           7.00  3c45c1e077504c26d96b49e571db198e6ac7500639bdff...
3           8.75  adc0f707a5bc3077fc64e54232d7f9206c291f6bf49286...
4            NaN                                                NaN

In [4]:
# Add in room names
historical_data=historical_data.merge(room_crosswalk, how='left', on='Listing')

# Month and Year columns added for accounting purposes
historical_data['Month'] = historical_data.Date.apply(lambda dateCol: datetime.datetime.strptime(dateCol,'%m/%d/%Y').month)
historical_data['Year'] = historical_data.Date.apply(lambda dateCol: datetime.datetime.strptime(dateCol,'%m/%d/%Y').year)
data = historical_data[historical_data.Year == 2019][historical_data.Month < 3]

print(data.head())
print(data.dtypes)
print(data.Type.unique())

    Unnamed: 0        Date         Type Confirmation Code  Start Date  Nights  \
38          38  02/28/2019  Reservation        HM2Z3XNDB5  02/27/2019     2.0
39          39  02/27/2019  Reservation        HMEX5E4HRK  02/26/2019     3.0
40          40  02/24/2019  Reservation        HM5TXCTMRF  02/23/2019     1.0
46          46  02/28/2019       Payout               NaN         NaN     NaN
47          47  02/28/2019  Reservation        HMRRHYXTTJ  02/27/2019     1.0

                                              Listing                Details  \
38       Red Victorian - Private room -  Rainbow Room                    NaN
39  Red Victorian - Private suite w bath, Flower C...                    NaN
40  Red Victorian - Private room w loftbed, Butterfly                    NaN
46                                                NaN  Transfer to *****4871
47       Red Victorian - Private ensuite, Rose Garden                    NaN

    Reference Currency  ...  Paid Out  Host Fee  Cleaning Fee  Linens fee  \
38        NaN      USD  ...       NaN      0.90          4.20         2.4
39        NaN      USD  ...       NaN      1.11          4.20         2.4
40        NaN      USD  ...       NaN      0.62          4.20         2.4
46        NaN      USD  ...    285.78       NaN           NaN         NaN
47        NaN      USD  ...       NaN      2.71         32.02         NaN

    Community fee                                  guest_name_sha256  \
38            4.2  034336918f8355fca322faa4450d97eaf0b81b54b45c22...
39            4.2  43f7166f0562cd874fcb0256f397a2658357a996d8f8f1...
40            4.2  82dcc3641a2995978c75ed4823340b2e35bfa16faf39bb...
46            NaN                                                NaN
47            NaN  981f404d5a9fa428ecaba86bc9303406b034f09e83d764...

    listing-name     room-name Month  Year
38  Rainbow Room  Rainbow Room     2  2019
39  Flower Child  Flower Child     2  2019
40     Butterfly     Butterfly     2  2019
46           NaN           NaN     2  2019
47   Rose Garden   Rose Garden     2  2019

[5 rows x 21 columns]
Unnamed: 0             int64
Date                  object
Type                  object
Confirmation Code     object
Start Date            object
Nights               float64
Listing               object
Details               object
Reference            float64
Currency              object
Amount               float64
Paid Out             float64
Host Fee             float64
Cleaning Fee         float64
Linens fee           float64
Community fee        float64
guest_name_sha256     object
listing-name          object
room-name             object
Month                  int64
Year                   int64
dtype: object
['Reservation' 'Payout' 'Adjustment' 'Resolution Adjustment'
 'Resolution Payout']

/Users/tobie/.local/share/virtualenvs/airbnb-analysis-P_6EU12G/lib/python2.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [5]:
# Total paid out by month
total = data[data.Type == 'Payout']
print(total.groupby('Month')['Paid Out'].sum())

Month
1    46617.88
2    44953.46
Name: Paid Out, dtype: float64

In [6]:
# Gross hotel revenue by listing
payouts = data[data.Type.isin(['Reservation','Adjustment'])].groupby(['Month','Listing']).agg({"Amount":np.sum}).reset_index()
print(payouts.dtypes)
print(payouts.head())
payouts.to_csv('csv_export/gross_data_2019.csv')

Month        int64
Listing     object
Amount     float64
dtype: object
   Month                                            Listing  Amount
0      1    Red Victorian - Air Bunk in shared Peacock Room  938.28
1      1        Red Victorian - Bed  in shared Friends Room  408.57
2      1  Red Victorian - Bunk #1 in shared Hole in the ...  238.62
3      1      Red Victorian - Bunk #1 in shared Poster Room  757.18
4      1  Red Victorian - Bunk #2 in shared Hole in the ...  569.20

In [7]:
# Total unassigned resolution adjustments by month
adjustments = data[data.Type.isin(['Resolution Adjustment','Resolution Payout'])].groupby('Month').agg({"Amount": np.sum})
print(adjustments)

       Amount
Month
1     -283.33
2     -534.99

In [8]:
# Distribute unassigned resolution adjustments by month by rooms listed that month
rooms_per_month = payouts.groupby('Month').agg({"Listing": pd.Series.nunique})
print(rooms_per_month)

type(rooms_per_month)

monthly_distribution = pd.merge(adjustments, rooms_per_month, on='Month')
monthly_distribution['Amount Per Listing'] = (monthly_distribution.Amount / monthly_distribution.Listing).round(2)
print(monthly_distribution)

monthly_distribution = monthly_distribution.drop(['Amount', 'Listing'], axis=1)
print(monthly_distribution)

       Listing
Month
1           32
2           29
       Amount  Listing  Amount Per Listing
Month
1     -283.33       32               -8.85
2     -534.99       29              -18.45
       Amount Per Listing
Month
1                   -8.85
2                  -18.45

In [9]:
print(payouts)

    Month                                            Listing   Amount
0       1    Red Victorian - Air Bunk in shared Peacock Room   938.28
1       1        Red Victorian - Bed  in shared Friends Room   408.57
2       1  Red Victorian - Bunk #1 in shared Hole in the ...   238.62
3       1      Red Victorian - Bunk #1 in shared Poster Room   757.18
4       1  Red Victorian - Bunk #2 in shared Hole in the ...   569.20
5       1      Red Victorian - Bunk #2 in shared Poster Room   813.61
6       1      Red Victorian - Bunk #3 in shared Poster Room  1075.24
7       1      Red Victorian - Bunk #4 in shared Poster Room   728.31
8       1  Red Victorian - Earth Bunk in shared Peacock Room   887.05
9       1   Red Victorian - Fire Bunk in shared Peacock Room  1171.49
10      1       Red Victorian - Private ensuite, Rose Garden  3505.58
11      1       Red Victorian - Private room -  Rainbow Room  2913.53
12      1  Red Victorian - Private room 1/2 bath, Night Duty  2246.33
13      1   Red Victorian - Private room for 3, Friends Room  1255.18
14      1      Red Victorian - Private room w bath, Sunshine  2900.30
15      1  Red Victorian - Private room w loftbed, Butterfly  1631.54
16      1  Red Victorian - Private room w/4 beds, Poster ...   982.61
17      1   Red Victorian - Private room w/sink, Golden Gate  1900.87
18      1    Red Victorian - Private room w/sink, Tea Garden  1965.13
19      1        Red Victorian - Private room, Earth Charter  2111.98
20      1     Red Victorian - Private room, Hole in the Wall   781.24
21      1           Red Victorian - Private room, Peace Room  1324.94
22      1           Red Victorian - Private room, Playground  1753.18
23      1             Red Victorian - Private room, Skylight  2641.65
24      1  Red Victorian - Private suite w bath, Flower C...  3006.52
25      1       Red Victorian - Private suite w/bath, Gigi's  2255.25
26      1      Red Victorian - Private suite w/bath, Redwood  2838.87
27      1  Red Victorian - Twin Bunk 2, shared room Hula ...  1206.68
28      1   Red Victorian - Twin Bunk, shared room Hula Hoop   442.65
29      1  Red Victorian - Twin Bunks in shared Friends Room   613.04
..    ...                                                ...      ...
31      1  Red Victorian - Water Bunk in shared Peacock Room   920.99
32      2    Red Victorian - Air Bunk in shared Peacock Room   898.98
33      2  Red Victorian - Bunk #1 in shared Hole in the ...   446.97
34      2      Red Victorian - Bunk #1 in shared Poster Room   862.38
35      2  Red Victorian - Bunk #2 in shared Hole in the ...   661.54
36      2      Red Victorian - Bunk #2 in shared Poster Room   761.35
37      2      Red Victorian - Bunk #3 in shared Poster Room  1275.86
38      2      Red Victorian - Bunk #4 in shared Poster Room  1122.85
39      2  Red Victorian - Earth Bunk in shared Peacock Room   892.88
40      2   Red Victorian - Fire Bunk in shared Peacock Room   494.15
41      2       Red Victorian - Private ensuite, Rose Garden  2357.75
42      2       Red Victorian - Private room -  Rainbow Room  1894.21
43      2  Red Victorian - Private room 1/2 bath, Night Duty  2286.64
44      2   Red Victorian - Private room for 3, Friends Room  2726.90
45      2      Red Victorian - Private room w bath, Sunshine  2726.71
46      2  Red Victorian - Private room w loftbed, Butterfly  1633.70
47      2   Red Victorian - Private room w/sink, Golden Gate  2780.44
48      2    Red Victorian - Private room w/sink, Tea Garden  1985.10
49      2        Red Victorian - Private room, Earth Charter  1763.07
50      2     Red Victorian - Private room, Hole in the Wall   794.43
51      2           Red Victorian - Private room, Peace Room  2339.64
52      2           Red Victorian - Private room, Playground  2178.01
53      2             Red Victorian - Private room, Skylight  1247.42
54      2     Red Victorian - Private room, The Conservatory  1580.03
55      2  Red Victorian - Private suite w bath, Flower C...  2289.32
56      2       Red Victorian - Private suite w/bath, Gigi's  2677.51
57      2      Red Victorian - Private suite w/bath, Redwood  3630.14
58      2  Red Victorian - Twin Bunk 2, shared room Hula ...   176.54
59      2   Red Victorian - Twin Bunk, shared room Hula Hoop   143.56
60      2  Red Victorian - Water Bunk in shared Peacock Room   883.67

[61 rows x 3 columns]

In [13]:
print(payouts)

    Month                                            Listing   Amount
0       1    Red Victorian - Air Bunk in shared Peacock Room   938.28
1       1        Red Victorian - Bed  in shared Friends Room   408.57
2       1  Red Victorian - Bunk #1 in shared Hole in the ...   238.62
3       1      Red Victorian - Bunk #1 in shared Poster Room   757.18
4       1  Red Victorian - Bunk #2 in shared Hole in the ...   569.20
5       1      Red Victorian - Bunk #2 in shared Poster Room   813.61
6       1      Red Victorian - Bunk #3 in shared Poster Room  1075.24
7       1      Red Victorian - Bunk #4 in shared Poster Room   728.31
8       1  Red Victorian - Earth Bunk in shared Peacock Room   887.05
9       1   Red Victorian - Fire Bunk in shared Peacock Room  1171.49
10      1       Red Victorian - Private ensuite, Rose Garden  3505.58
11      1       Red Victorian - Private room -  Rainbow Room  2913.53
12      1  Red Victorian - Private room 1/2 bath, Night Duty  2246.33
13      1   Red Victorian - Private room for 3, Friends Room  1255.18
14      1      Red Victorian - Private room w bath, Sunshine  2900.30
15      1  Red Victorian - Private room w loftbed, Butterfly  1631.54
16      1  Red Victorian - Private room w/4 beds, Poster ...   982.61
17      1   Red Victorian - Private room w/sink, Golden Gate  1900.87
18      1    Red Victorian - Private room w/sink, Tea Garden  1965.13
19      1        Red Victorian - Private room, Earth Charter  2111.98
20      1     Red Victorian - Private room, Hole in the Wall   781.24
21      1           Red Victorian - Private room, Peace Room  1324.94
22      1           Red Victorian - Private room, Playground  1753.18
23      1             Red Victorian - Private room, Skylight  2641.65
24      1  Red Victorian - Private suite w bath, Flower C...  3006.52
25      1       Red Victorian - Private suite w/bath, Gigi's  2255.25
26      1      Red Victorian - Private suite w/bath, Redwood  2838.87
27      1  Red Victorian - Twin Bunk 2, shared room Hula ...  1206.68
28      1   Red Victorian - Twin Bunk, shared room Hula Hoop   442.65
29      1  Red Victorian - Twin Bunks in shared Friends Room   613.04
..    ...                                                ...      ...
31      1  Red Victorian - Water Bunk in shared Peacock Room   920.99
32      2    Red Victorian - Air Bunk in shared Peacock Room   898.98
33      2  Red Victorian - Bunk #1 in shared Hole in the ...   446.97
34      2      Red Victorian - Bunk #1 in shared Poster Room   862.38
35      2  Red Victorian - Bunk #2 in shared Hole in the ...   661.54
36      2      Red Victorian - Bunk #2 in shared Poster Room   761.35
37      2      Red Victorian - Bunk #3 in shared Poster Room  1275.86
38      2      Red Victorian - Bunk #4 in shared Poster Room  1122.85
39      2  Red Victorian - Earth Bunk in shared Peacock Room   892.88
40      2   Red Victorian - Fire Bunk in shared Peacock Room   494.15
41      2       Red Victorian - Private ensuite, Rose Garden  2357.75
42      2       Red Victorian - Private room -  Rainbow Room  1894.21
43      2  Red Victorian - Private room 1/2 bath, Night Duty  2286.64
44      2   Red Victorian - Private room for 3, Friends Room  2726.90
45      2      Red Victorian - Private room w bath, Sunshine  2726.71
46      2  Red Victorian - Private room w loftbed, Butterfly  1633.70
47      2   Red Victorian - Private room w/sink, Golden Gate  2780.44
48      2    Red Victorian - Private room w/sink, Tea Garden  1985.10
49      2        Red Victorian - Private room, Earth Charter  1763.07
50      2     Red Victorian - Private room, Hole in the Wall   794.43
51      2           Red Victorian - Private room, Peace Room  2339.64
52      2           Red Victorian - Private room, Playground  2178.01
53      2             Red Victorian - Private room, Skylight  1247.42
54      2     Red Victorian - Private room, The Conservatory  1580.03
55      2  Red Victorian - Private suite w bath, Flower C...  2289.32
56      2       Red Victorian - Private suite w/bath, Gigi's  2677.51
57      2      Red Victorian - Private suite w/bath, Redwood  3630.14
58      2  Red Victorian - Twin Bunk 2, shared room Hula ...   176.54
59      2   Red Victorian - Twin Bunk, shared room Hula Hoop   143.56
60      2  Red Victorian - Water Bunk in shared Peacock Room   883.67

[61 rows x 3 columns]

In [17]:
# Create new data frame to hold adjustments for listings
adjusted_payouts = payouts.merge(monthly_distribution, how='left', on='Month')
adjusted_payouts = adjusted_payouts.fillna(0)
adjusted_payouts['Adjusted Amount'] = adjusted_payouts.Amount + adjusted_payouts['Amount Per Listing']

adjusted_payouts = adjusted_payouts.drop('Amount Per Listing', axis=1)
print(payouts.columns.values)

# Round amounts to 2 decimal points for dollars and cents (0.00)
adjusted_payouts = adjusted_payouts.round(2)

# Sum by Room
adjusted_payouts_by_room=adjusted_payouts.merge(room_crosswalk, how="left", on="Listing")
adjusted_payouts_by_room=adjusted_payouts_by_room.groupby(["room-name","Month"]).agg({"Amount":np.sum}).reset_index()
adjusted_payouts_by_room=adjusted_payouts_by_room.round(2)
# Save adjusted payouts to new csv file
adjusted_payouts_by_room.to_csv('csv_export/adjusted_payouts_2019.csv')

['Month' 'Listing' 'Amount']