In [2]:
import pandas as pd
import datetime

In [3]:
historical_data = pd.read_csv("csv_import/historical-data-011019.csv")

In [4]:
print(historical_data.head())

         Date         Type Confirmation Code  Start Date  Nights  \
0  01/10/2019       Payout               NaN         NaN     NaN
1  01/10/2019  Reservation        HM8AX22DEN  01/09/2019     4.0
2  01/10/2019  Reservation        HM5X9ETCT9  01/09/2019     3.0
3  01/10/2019  Reservation        HMFCTS4CMZ  01/09/2019     2.0
4  01/10/2019       Payout               NaN         NaN     NaN

              Guest                                            Listing  \
0               NaN                                                NaN
1     Naomi Gabizon   Earth Charter - Private Room in a Warm Community
2  Aki Koivistoinen  Private Suite w/ Bath, Artsy Hotel/Co-op: Suns...
3        Kyle Henry  Rose Garden - a Magical Bed+Bath in Warm Commu...
4               NaN                                                NaN

                 Details  Reference Currency  Amount  Paid Out  Host Fee  \
0  Transfer to *****6485        NaN      USD     NaN    823.62       NaN
1                    NaN        NaN      USD  390.61       NaN     12.08
2                    NaN        NaN      USD  284.79       NaN      8.81
3                    NaN        NaN      USD  148.22       NaN      4.58
4  Transfer to *****6485        NaN      USD     NaN     98.55       NaN

   Cleaning Fee  Linens fee  Community fee
0           NaN         NaN            NaN
1          27.9       13.95           27.9
2          16.0       12.00           32.0
3          16.0       12.00           32.0
4           NaN         NaN            NaN

In [5]:
# Month and Year columns added for accounting purposes
historical_data['Month'] = historical_data['Date'].apply(lambda dateCol: datetime.datetime.strptime(dateCol,'%m/%d/%Y').month)
historical_data['Year'] = historical_data['Date'].apply(lambda dateCol: datetime.datetime.strptime(dateCol,'%m/%d/%Y').year)
data_2018 = historical_data[historical_data['Year'] == 2018]

print(data_2018.head())
print(data_2018.dtypes)
print(data_2018['Type'].unique())

          Date         Type Confirmation Code  Start Date  Nights  \
86  12/31/2018       Payout               NaN         NaN     NaN
87  12/31/2018  Reservation        HM2SEYSSAD  12/30/2018     3.0
88  12/31/2018  Reservation        HM49ZEW3KT  12/30/2018     4.0
89  12/31/2018  Reservation        HMFF5JXEHE  12/30/2018     3.0
90  12/30/2018  Reservation        HM8TQXP2ST  12/29/2018     4.0

                  Guest                                            Listing  \
86                  NaN                                                NaN
87  Kathrin Bimesd√∂rfer  Rose Garden - a Magical Bed+Bath in Warm Commu...
88           Amy Torres  Private Suite w/ Bath, Artsy Hotel/Co-op: Suns...
89       Andrea Godinez     Private Room in Historic B&B - Playground Room
90            Hanna Kim    Golden Gate - Private Bedroom in Warm Community

                  Details  Reference Currency  Amount  Paid Out  Host Fee  \
86  Transfer to *****4871        NaN      USD     NaN    365.25       NaN
87                    NaN        NaN      USD   62.66       NaN      1.94
88                    NaN        NaN      USD   75.85       NaN      2.35
89                    NaN        NaN      USD   52.19       NaN      1.61
90                    NaN        NaN      USD   71.97       NaN      2.23

    Cleaning Fee  Linens fee  Community fee  Month  Year
86           NaN         NaN            NaN     12  2018
87           4.0         3.0            8.0     12  2018
88           4.0         3.0            8.0     12  2018
89           3.0         3.0            4.0     12  2018
90           4.0         3.0            8.0     12  2018
Date                  object
Type                  object
Confirmation Code     object
Start Date            object
Nights               float64
Guest                 object
Listing               object
Details               object
Reference            float64
Currency              object
Amount               float64
Paid Out             float64
Host Fee             float64
Cleaning Fee         float64
Linens fee           float64
Community fee        float64
Month                  int64
Year                   int64
dtype: object
['Payout' 'Reservation' 'Adjustment' 'Resolution Adjustment'
 'Resolution Payout' 'Co-hosting Adjustment']

In [6]:
# Payouts by month
payouts = data_2018[data_2018['Type'] == 'Payout']
print(payouts.groupby(['Month'])['Paid Out'].sum())

Month
1     16787.60
2     22148.36
3     30775.08
4     28832.03
5     32383.36
6     36164.04
7     43119.55
8     57299.25
9     63498.36
10    54980.71
11    34935.43
12    42231.70
Name: Paid Out, dtype: float64

In [12]:
# Gross hotel revenue by room/listing
payouts = data_2018[data_2018.Type.isin(['Reservation','Adjustment'])].groupby(['Month','Listing'])['Amount'].sum()
print(payouts.head())
payouts.to_csv('csv_export/gross_data_2018.csv')

Month  Listing
1      Air Bunk, Peacock Room: Cozy Bed in Shared Room       197.88
       Earth Bunk, Peacock Room: Cozy Bed in Shared Room     948.66
       Fire Bunk, Peacock Room: Cozy Bed in Shared Room      230.86
       Friends - Private Bedroom for 3 in Cozy Community    1874.04
       Gigi's Room - a Private Suite in a Warm Community    2172.12
Name: Amount, dtype: float64

In [13]:
# Total unassigned resolution adjustments by month
adjustments = data_2018[data_2018.Type.isin(['Resolution Adjustment','Resolution Payout'])].groupby(['Month'])['Amount'].sum()
print(adjustments)

Month
3     -50.00
4    -100.00
5     -25.00
6    -181.64
7    -117.59
8    -638.92
9     210.00
10    171.05
12    -80.63
Name: Amount, dtype: float64

In [35]:
# Listings in 2018
print(data_2018['Listing'].unique())

# Listings by month
rooms = data_2018.groupby(['Month'])['Listing'].unique()
print(rooms)

[nan 'Rose Garden - a Magical Bed+Bath in Warm Community'
 'Private Suite w/ Bath, Artsy Hotel/Co-op: Sunshine'
 'Private Room in Historic B&B - Playground Room'
 'Golden Gate - Private Bedroom in Warm Community'
 'Private Room in Historic B&B - Peace Room'
 'Private Room in Historic B&B - Skylight Room'
 'Flower Child - Private Room with Bathroom'
 'Bunk #4, Poster Room: Comfy Bed in Shared Room'
 'Water Bunk, Peacock Room: Cozy Bed in Shared Room'
 'Bunk #2, Poster Room: Comfy Bed in Shared Room'
 'Earth Charter - Private Room in a Warm Community'
 "Gigi's Room - a Private Suite in a Warm Community"
 'Rainbow Room - Private Bedroom in a Warm Community'
 'Cozy lofted room in arts hostel - Butterfly Room'
 'Hole in the Wall: a cozy room in historic hotel'
 'Friends - Private Bedroom for 3 in Cozy Community'
 'Air Bunk, Peacock Room: Cozy Bed in Shared Room'
 'Fire Bunk, Peacock Room: Cozy Bed in Shared Room'
 'Bunk #1, Poster Room: Comfy Bed in Shared Room'
 'Earth Bunk, Peacock Room: Cozy Bed in Shared Room'
 'Bunk #3, Poster Room: Comfy Bed in Shared Room'
 'Tea Garden - a Private Room in a Warm Community'
 'Hula Hoop - Shared Room in a Warm Community'
 'Redwood Forest: Private Room+Bath in Warm Co-op'
 'Bed #2, Hole in the Wall: Comfy Bed in Shared Room'
 'Bed #1, Hula Hoop Hostel: Cozy Bed in Shared Room'
 'Shared Hostel Room in Warm Co-op: Friends Bunks'
 "Iconic Red Victorian: Shared 'Friends' Hostel Room"
 'Bed #2, Hula Hoop Hostel: Cozy Bed in Shared Room'
 'Poster Room: a cozy bunked space in warm community'
 'Summer of Love - Private Room in a Warm Community'
 'Peacock Suite: Cozy bunked room in warm community']
Month
1     [Earth Bunk, Peacock Room: Cozy Bed in Shared ...
2     [nan, Poster Room: a cozy bunked space in warm...
3     [nan, Fire Bunk, Peacock Room: Cozy Bed in Sha...
4     [Fire Bunk, Peacock Room: Cozy Bed in Shared R...
5     [Water Bunk, Peacock Room: Cozy Bed in Shared ...
6     [Summer of Love - Private Room in a Warm Commu...
7     [Flower Child - Private Room with Bathroom, Bu...
8     [Earth Charter - Private Room in a Warm Commun...
9     [Golden Gate - Private Bedroom in Warm Communi...
10    [nan, Private Suite w/ Bath, Artsy Hotel/Co-op...
11    [Private Room in Historic B&B - Playground Roo...
12    [nan, Rose Garden - a Magical Bed+Bath in Warm...
Name: Listing, dtype: object