In [1]:
import numpy as np
import pandas as pd
import datetime

In [19]:
##read in data and inspect it
## data from https://www.airbnb.com/users/transaction_history/
historical_data=pd.read_csv("csv_import/historical-data-011019.csv")

## add date labels for accounting purposes
def toMonth(dateCol):
    return datetime.datetime.strptime(dateCol,'%m/%d/%Y').month
def toYear(dateCol):
    return datetime.datetime.strptime(dateCol,'%m/%d/%Y').year
historical_data['Month']=historical_data['Date'].apply(toMonth)
historical_data['Year']=historical_data['Date'].apply(toYear)
data=historical_data[historical_data['Year']==2018]

print(data.head())
print(data.dtypes)
print(data['Type'].unique())

          Date         Type Confirmation Code  Start Date  Nights  \
86  12/31/2018       Payout               NaN         NaN     NaN
87  12/31/2018  Reservation        HM2SEYSSAD  12/30/2018     3.0
88  12/31/2018  Reservation        HM49ZEW3KT  12/30/2018     4.0
89  12/31/2018  Reservation        HMFF5JXEHE  12/30/2018     3.0
90  12/30/2018  Reservation        HM8TQXP2ST  12/29/2018     4.0

                  Guest                                            Listing  \
86                  NaN                                                NaN
87  Kathrin Bimesd√∂rfer  Rose Garden - a Magical Bed+Bath in Warm Commu...
88           Amy Torres  Private Suite w/ Bath, Artsy Hotel/Co-op: Suns...
89       Andrea Godinez     Private Room in Historic B&B - Playground Room
90            Hanna Kim    Golden Gate - Private Bedroom in Warm Community

                  Details  Reference Currency  Amount  Paid Out  Host Fee  \
86  Transfer to *****4871        NaN      USD     NaN    365.25       NaN
87                    NaN        NaN      USD   62.66       NaN      1.94
88                    NaN        NaN      USD   75.85       NaN      2.35
89                    NaN        NaN      USD   52.19       NaN      1.61
90                    NaN        NaN      USD   71.97       NaN      2.23

    Cleaning Fee  Linens fee  Community fee  Month  Year
86           NaN         NaN            NaN     12  2018
87           4.0         3.0            8.0     12  2018
88           4.0         3.0            8.0     12  2018
89           3.0         3.0            4.0     12  2018
90           4.0         3.0            8.0     12  2018
Date                  object
Type                  object
Confirmation Code     object
Start Date            object
Nights               float64
Guest                 object
Listing               object
Details               object
Reference            float64
Currency              object
Amount               float64
Paid Out             float64
Host Fee             float64
Cleaning Fee         float64
Linens fee           float64
Community fee        float64
Month                  int64
Year                   int64
dtype: object
['Payout' 'Reservation' 'Adjustment' 'Resolution Adjustment'
 'Resolution Payout' 'Co-hosting Adjustment']

In [21]:
## Payouts by month

payouts=data[data['Type']=='Payout']

print(payouts.groupby(['Month'])['Paid Out'].sum())

Month
1     16787.60
2     22148.36
3     30775.08
4     28832.03
5     32383.36
6     36164.04
7     43119.55
8     57299.25
9     63498.36
10    54980.71
11    34935.43
12    42231.70
Name: Paid Out, dtype: float64

In [47]:
#Gross hotel revenue by room/listing
payouts=data.query("""Type in('Reservation','Adjustment')""").groupby(['Month','Listing'])['Amount'].sum()
print(payouts.head())
payouts.to_csv('csv_export/2018_gross_data.csv')

Month  Listing
1      Air Bunk, Peacock Room: Cozy Bed in Shared Room       197.88
       Earth Bunk, Peacock Room: Cozy Bed in Shared Room     948.66
       Fire Bunk, Peacock Room: Cozy Bed in Shared Room      230.86
       Friends - Private Bedroom for 3 in Cozy Community    1874.04
       Gigi's Room - a Private Suite in a Warm Community    2172.12
Name: Amount, dtype: float64

In [46]:
#Total unassigned resolution adjustments by month
adjustments=data.query("""Type in('Resolution Adjustment','Resolution Payout')""").groupby(['Month'])['Amount'].sum()
print(adjustments)

Month
3     -50.00
4    -100.00
5     -25.00
6    -181.64
7    -117.59
8    -638.92
9     210.00
10    171.05
12    -80.63
Name: Amount, dtype: float64